.gauge-top {
    display: inline-block;
    width: 12.2%;
}
.sideBar{
    display: inline-block;
    width: 7%;
}
.gauge-side-top {
    /*display: inline-block;*/
    vertical-align:top;
    width: 100%;
}
.gauge-box {
    width: 100%;
}

.gauge-value {
    font-size: 28px;
}
.gauge-name {
    font-size: 16px;
}

.gauge-valueSmall {
    font-size: 16px;
}
.gauge-nameSmall {
    font-size: 12px;
}
.vid{
    width: 85%;
    display: inline-block;
}
.trackMap{
    width: 24%;
    display: inline-block;
    vertical-align:top;
}